<div class="container">
    <div >
        <nav class="Row navbar navbar-light bg-light left  float-right" style="display: block;">
           <form class="container-fluid justify-content-start">
            <img src="../../assets/img/Logo.png" class="rounded float-left  logo">
            <div class="dropdown">
                <a class="nav-link offset-3 dropdown-toggle">Area Calculator
                    <img src="../../assets/img/chev.png" class="nav-chev">
                </a>
            </div>
           </form>
        </nav>   
    </div>    
</div>            