<div class="container">
    <div class="row top-nav">
        <nav class="navbar navbar-light bg-white left float-right" style="display: block; padding-left: 0;">
           <form class="container-fluid justify-content-start fluid">
            <img src="../../assets/img/Logo.png" class=" float-left  logo">
            <div class="dropdown ps-4">
                <a class="link dropdown-toggle" href="#" role="button" id="calc" data-bs-toggle="dropdown" aria-expanded="false">Area Calculator
                    <img src="../../assets/img/chev.png" class="nav-chev">
                </a>
                <ul class="dropdown-menu" aria-labelledby="calc">
                    <li><a class="dropdown-item">One Room</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item">Multiple Rooms</a></li>
                </ul>
            </div>
                <a class="link offset-1" href="#">How it works</a>
           </form>
        </nav>   
    </div>    
</div>            
<div class="dropdown">
