/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/);

body {
    background-color: #f8f8f8;
    background-image: url(assets/img/bkg-page.png);
    background-repeat: repeat-x;
    background-position: top;
    background-position-x: center;
    background-position-y: top;
}

